@font-face {
  font-family: 'Gulfs Display';
  src: url(GulfsDisplay-Normal.ttf);
}

@font-face {
  font-family: 'Gaelle';
  src: url(Gaelle001.ttf);
}

@media screen and (min-width: 600px) {
	.navigatorsmall {
		display: none;
	}
	.descriptionsmall, .descriptiongosesmall {
		display: none;
	}
	.goingseventeensmall {
		display: none;
	}
	.members1small {
		display: none;
	}
	.members2small {
		display: none;
	}
	.albumssmall, .albumnamesmall, .albumcoversmall, .descriptionasmall {
		display: none;
	}
}

body {
	box-sizing: border-box;
	margin: 0px;
}

.navigator {
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
	justify-content: space-between;
	font-family: 'Gulfs Display';
	height: 100px;
	align-items: center;
}

.button {
	font-size: 30px;
	padding-top: 10px;
	text-align: center;
	padding-left: 20px;
}

.navigator1 {
	display: flex;
}

.button1 {
	width: 330px;
	font-size: 50px;
}

a:visited, a:link {
	color: #f4b4b3;
}

a:active {
	color: #91a8d0;
}

a:hover {
	color: #91a8d0;
}

.albumname > a, .albumname > a:visited {
	color: #fff;
}

.albumname > a:hover{
	color: #91a8d0;
}

.albumnamesmall > a, .albumnamesmall > a:visited {
	color: #fff;
}

.albumnamesmall > a:hover{
	color: #91a8d0;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	font-family: 'Gaelle';
	font-size: 20px;
	line-height: 22px;
	color: #91a8d0;
	height: auto;
}

.descriptiongose {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	font-family: 'Gaelle';
	font-size: 20px;
	line-height: 22px;
	color: #91a8d0;
	height: auto;
}

.members1 {
	display: flex;
	padding-right: 50px;
	flex-wrap: wrap;
}

.members2 {
	padding-left: 50px;
	font-family: 'Gulfs Display';
	font-size: 40px;
	line-height: 0px;
	width: 29%;
}

.albums {
	display: flex;
	align-items: center;
	background: #f4b4b3;
	padding-left: 50px;
}

.albumcover {
	width: 50%;
	height: auto;
	max-height: 100%;
	padding: 20px;
}

.descriptiona {
	padding-right: 50px;
	padding-left: 50px;
	font-family: 'Gaelle';
	font-size: 30px;
	color: #fff;
}

.albumname {
		font-family: 'Gulfs Display';
		font-size: 40px;
}

.goingseventeen {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}

.members2 > a, .members2 > a:visited {
	color: #000;
}

.members2 > a:hover{
	color: #f4b4b3;
}

.members2small > a, .members2small > a:visited {
	color: #000;
}

.members2small > a:hover{
	color: #f4b4b3;
}

@media screen and (max-width: 600px) {
	.navigator {
		display: none;
	}
	.navigatorsmall {
		padding-left: 50px;
		padding-right: 50px;
		font-family: 'Gulfs Display';
		text-align: center;
		padding-top: 10px;
	}

	.buttonsmall {
		font-size: 30px;
		text-align: center;
		line-height: 20px;
	}

	.button1small {
		font-size: 50px;
		text-align: center;
		line-height: 40px;
	}
	.description {
		display: none;
	}
	.descriptionsmall {
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Gaelle';
	font-size: 20px;
	line-height: 22px;
	color: #91a8d0;
	height: auto;
	}
	.goingseventeen {
		display: none;
	}
	.goingseventeensmall {
	width: 100%;
	}
	.members1 {
		display: none;
	}
	.members2 {
		display: none;
	}
	.members1small {
	padding-right: 20px;
	}
	.members2small {
	padding-left: 20px;
	font-family: 'Gulfs Display';
	font-size: 40px;
	line-height: 0px;
	width: 100%%;
	}
	.albums, .albumname, .albumcover, .descriptiona {
		display: none;
	}
	.albumssmall {
	background: #f4b4b3;
	margin-top: 0px;
	}
.albumcoversmall {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	}
.descriptionasmall {
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Gaelle';
	font-size: 20px;
	line-height: 25px;
	padding-bottom: 20px;
	color: #fff;
	}
.albumnamesmall {
		font-family: 'Gulfs Display';
		font-size: 40px;
		line-height: 40px;
	}
.descriptiongose {
	display: none;
}
.descriptiongosesmall {
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Gaelle';
	font-size: 20px;
	line-height: 22px;
	color: #91a8d0;
	height: auto;
	}
}
